<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guestbook</title>
    <script src="/resources/js/guestbook.js" onload="getAllMessages()"></script>
    <link rel="stylesheet" type="text/css" href="/resources/css/guestbook.css">
</head>
<body>
<h1>GUESTBOOK</h1>

<div class="form">
    <label for="name" class="label">Name:</label>
    <input type="text" id="name" class="input-name">
    <br>
    <label for="text" class="label">Your message:</label>
    <input type="text" id="text" class="input-text">
    <br>
    <input type="button" value="Send" class="button" onclick="saveMessage(), cleanInputs()">
</div>

<div id="messages" class="messages"></div>
</body>
</html>